
body {
    background-image: url("./poster-background-halloween.jpg");
    
}

.bg-style {
    color: rgb(65, 66, 57);
    text-shadow: 2px 2px #ff0000;
    
}
.bg-color{
text-align: center;
   width: 800px;
   height: 700px;
    /* background: rgb(180, 107, 107); */
}

.card {
    padding: 40px 100px;
    /* background-image: url("../bg-img.png"); */
    
}

.bg-style {
    font-size: 5rem;
    text-align: center;
    padding: 50px 50px;

}

.radio-padding {
    padding-bottom: 30px;
}

.button-style {
    background-color: rgb(79, 50, 82);
    color: #fff;
    padding: 10px 30px;
    box-shadow: 2px 2px #888888;
}

